#message-box{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 10px;
    margin-top: 10px;
    display: block;
    padding: 3px;

    font-weight: bold;
}

button{
    margin: 2px;
}
