<div *ngIf="signInMode">
    <form>
        <fieldset class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" placeholder="Username"/>
            <p *ngIf="show_un_error" class="alert-warning">{{username_error}}</p>
        </fieldset>
        <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" placeholder="Password"/>
            <p *ngIf="show_pw_error" class="alert-warning">{{password_error}}</p>
        </fieldset>
        <button class="btn btn-secondary" (click)="login()">Login</button>
    </form>
</div>
<div *ngIf="!signInMode">
    You're signed out!
</div>